.body-div{
    flex: auto;
}

.container{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    
}


