

.container{
    margin-top: 5%;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 5%;
    gap: 10px;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    
}


.container .items{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


.paginacion{
    justify-content: center;
    margin-bottom: 100 px;
    flex-wrap: wrap;
    display: block;

}


